body {
  background: $white;
  @include font($lora, $reg, 23px, $text);
}

header + .wrapper {
	padding-top: 150px;
}

.wrapper {
	max-width: 1260px;
	width: 90%;
	margin: 0 auto;
	@include clearfix;
}