// colors
$white: #ffffff;
$black: #000000;
$lightgrey: #e7e7e7;
$grey: #d0d0d0;
$darkgrey: #9a9a9a;
$red: #9b0802;

// elements
$block-bg: #efefef;
$rule: #c9c8c8;
$soc-border: #d7d7d7;
$thick-border: #cccccc;
$footer-border: #191919;

// socmed
$mail: #444544;
$facebook: #3b5998;
$twitter: #4099ff;
$google: #dd4b39;
$reddit: #ff4500;
$linkedin: #007bb6;
$youtube: #cf3427;

// buttons
$red-btn: #9b0802;

// text
$text: #333333;
$caption: #727272;
$data: #585858;
$strong: $black;
$listitem: #6a6a6a;

// font size
$biggest: 45px;
$bigger: 24px;
$big: 21px;
$med2: 18px;
$med: 17px;
$reg: 16px;
$small: 15px;
$smaller: 14px;
$smallest: 13px;

// fonts
$miller-bold: 'MillerHeadline-Bold';
$miller-bold-i: 'MillerHeadline-BoldItalic';
$lora-bold: 'Lora-Bold';
$lora-bold-i: 'Lora-BoldItalic';
$lora: 'Lora-Regular';
$lora-i: 'Lora-Italic';
$default: Arial, Helvetica, sans-serif;

// displays
$desktop: 960px;
$tablet: 959px;
$mobileBig: 601px;
$mobile: 480px;