#recent-stories-carousel {
    @include clearfix;
    border-bottom: 1px solid $lightgrey;
    background: $lightgrey;
    @include max-screen($mobile) {
        display: none;
    }
    .wrapper {
        background: $white;
        padding: 15px;
        position: relative;
    }
    li {
        @include span-columns(3);
        @include max-screen($desktop) {
            @include span-columns(4);
            &:nth-child(3) {
                display: none;
            }
        }
        border-right: 1px solid $lightgrey;
        &:last-child {
            border-right: 0;
        }
        .img-container {
            @include span-columns(5);
            height: 78px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .summary {
            @include span-columns(7);
            @include font($lora, $reg, 15px, $text);
            padding: 0 5px 0 0;
            @include max-screen($desktop) {
                font-size: $smallest;
            }
        }
    }
    .prev, .next {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 40px;
        cursor: pointer;
        i {
            color: $grey;
            font-size: 30px;
        }
    }
    .prev {
        left: -40px;
        @include max-screen($tablet) {
            left: -30px;
        }
    }
    .next {
        right: -40px;
        @include max-screen($tablet) {
            right: -30px;
        }
    }
}

