.article-body { 
	@include clearfix; 
	position: relative;
}

.article-title {
	margin: 0 0 15px;
	h2 {
		@include font($miller-bold, $biggest, 50px, $black);
		@include max-screen($mobile) {
			font-size: $bigger;
			line-height: $bigger;
		}
	}
}

.article-image-main {
	img { width: 100%; }
}

.article-image {
	margin: 50px 0 30px;
	img { width: 100%; }
	.article-image-caption {
		border-bottom: 1px solid $rule;
		@include font($lora, $smaller, 20px, $caption);
		& > * { margin-bottom: 10px; }
	}
}

.article-image-main-caption {
	margin: 5px 0 10px;
	@include max-screen($mobileBig) {
		display: none;
	}
	h3 {
		@include font($lora, $small, 20px, $caption);
	}
}

.article-content-container {
	@include clearfix;
}

.article-content {
	@include span-columns(9);
	@include max-screen($desktop) {
		@include span-columns(9.75);
		@include shift(.25);
	}
	@include max-screen($tablet) {
		@include span-columns(10.5);
		@include shift(0);
	}
	@include max-screen($mobileBig) {
		@include span-columns(12);
	}
	p {
		margin: 0 0 23px;
	}
	@include min-screen($mobileBig) {
		&.fixed-socmed {
			margin-left: 78px;
			@include max-screen($tablet) {
				@include span-columns(10.5);
				@include shift(1.5);
			}
		}
	}
}
