.socmed-util {
	@include span-columns(1);
	@include animated(.2s);
	top: 0;
	width: 57px;
	@include max-screen($desktop) {
		@include span-columns(2);
		max-width: 57px;
	}
	@include max-screen($tablet) {
		@include span-columns(1.5);
		max-width: 100%;
	}
	&.sticky {
		position: fixed;
		width: 57px;
		top: 129px;
	}
	&.freeze {
		position: absolute;
		bottom: 15px;
		top: auto;
	}
	li {
		@include animated(.2s);
		display: block;
		border: 1px solid $soc-border;
		border-bottom: 0;
		text-align: center;
		padding: 12px 0;
		font-size: 20px;
		cursor: pointer;
		@include max-screen($tablet) {
			max-width: 57px;
		}
		&.mail { color: $mail; }
		&.facebook { color: $facebook; }
		&.twitter { color: $twitter; }
		&.google { color: $google; }
		&.reddit { color: $reddit; }
		&.linkedin { color: $linkedin; }

		&:first-child {
			border-top: 5px solid $soc-border;
		}
		&:last-child {
			border-bottom: 5px solid $soc-border;
		}
		
		&:last-child {
			line-height: 25px;
		}
		&:hover { font-size: 23px; }
	}
}

.test {
	height: 120px;
}